.contact-section {
    padding: 50px;
    background:#3b141c;
    /* Tadaroj dyal lbonni */
    margin: 100px auto;
    width: 70%;
    text-align: center;
    border-radius: 10px;
    color: white;
}

.section-title {
    font-size: 2rem;
    color: #f3961c;
    text-align: center;
    margin-bottom: 20px;
}

.contact-info-list {
    list-style: none;
    padding: 0;
    text-align: center;
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 1.2rem;
    margin: 10px 0;
}

.contact-info i {
    font-size: 1.5rem;
    color: white;
}

.form-container {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.contact-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-input {
    width: 100%;
    height: 60px;
    padding: 15px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 1.2rem;
    margin-bottom: 20px;
    text-align: center;
    background: white;
    color: #5a3e1b;
}

textarea.form-input {
    height: 120px;
}

.submit-button {
    padding: 15px 25px;
    color: white;

    background: #f3961c;
    
    border-radius: 10px;
    font-size: 1.2rem;
    cursor: pointer;
    border: none;
}

.submit-button:hover {
    background: #3e2a14;
}